@font-face {
	font-family: tesfont;
	src: url(../Cookie-Regular.ttf);
}

@font-face {
	font-family: myfont;
	src: url(../Rye-Regular.ttf);
}

body {
		background-color: darkslategray;
}

div.right h1 {
		position: relative;
		top: -150px;
		height: auto;
		font-family: myfont;
}
div.right h2 {
		position: relative;
		top: -150px;
		height: auto;
		font-family: myfont;
}

div.left h2 {
		height:200px;
		font-family: tesfont;
		font-size: 2.3em;
		
	
}

img {
	height: 300px;
	width: auto;
	padding:-5px;
	margin:-5px;
}

div.text p {
		position: relative;
		font-family: myfont;
		right: -450px;
		top: -1230px;
		
}

div.text h1 {
		position: relative;
		right: -400px;
		top: -1100px;
		font-family: tesfont;
		font-size: 3em;
		
}
div.right h3 {
		position: relative;
		top: -155px;
}

.center h5 {
		position: relative;
		bottom: -400px;
}

 
